# Django
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
/media/
/staticfiles/
*.log
*.pot
*.mo
.env
venv/
env/

# React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db